@mixin hide { display:none; }
@mixin show { display:block; }
@mixin w100px { width:100px; }
@mixin w200px { width:200px; }
@mixin w300px { width:300px; }
@mixin w100per { width:100%; }
@mixin object_size($width_size:0px,$height_size:0px) {
	width:$width_size;
	height:$height_size;
}
@mixin font_style($fontfmaily:$default-font-family,$fontsize:$default-font-size,$color:$default-font-color,$fontweight:normal) {
	font-family:$fontfmaily;
	font-size:$fontsize;
	color:$color;
	font-weight:$fontweight;
}
@mixin radius_box($size:10px) {
	-moz-border-radius:$size;
	-webkit-border-radius:$size;
	border-radius:$size;	
}
@mixin link_property($link-style:$default-link-style) {
	@each $link-value in $link-style {
		$i:index($link-style, $link-value);
		a:#{nth($link-value,1)} {
			font-size:nth($link-value,2);
			color:nth($link-value,3);
			text-decoration:nth($link-value,4);
		}
	}
}
@mixin set_appearance_none() {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}

@mixin reflect() {
	-webkit-box-reflect: below -5px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.03) 0%, transparent 50%, transparent 90%);
}