$default-font-color:#000;
$default-font-family:('dotum','Arial');
$default-font-size:12px;
$default-background-color:#f3f3f3;
$default-link-style:((link,12px,#000,none),(hover,12px,#000,underline),(active,12px,#000,none),(visited,12px,#000,none));