@import 'param.scss';
@import 'mixin.scss';
@import 'extend.scss';

html,body { height:100%; -webkit-text-size-adjust:none; }
html>/**/body { overflow-y:scroll; }
body { font-size:12px; font-family:'Dotum'; }

* { padding:0px; margin:0px; }

@include link_property();

input[type='checkbox'] { @include object_size(15px,15px); border:0px none; background-image:url('../images/sprite_image/radio_check_box.png'); background-position:0% 0px; background-size:cover; background-repeat:no-repeat; @include set_appearance_none(); vertical-align:middle; margin-right:5px; }
input[type='checkbox']:checked { background-position:33.33% 0px; }
input[type='radio'] { @include object_size(15px,15px); border:0px none; background-image:url('../images/sprite_image/radio_check_box.png'); background-position:66.66% 0px; background-size:cover; background-repeat:no-repeat; @include set_appearance_none(); vertical-align:middle; margin-right:5px; }
input[type='radio']:checked { background-position:100% 0px; }
input + label { vertical-align:middle; }

header { text-align:center; perspective:600px; }
div.logo_box { 
	font-size:44px; font-weight:bold; font-family:'Tahoma','MalgunGothic';
	line-height:44px;
	text-align:center;
	position:relative;
	margin:20px auto;
	display:inline-block;
	transition: transform 500ms;
	transform-style: preserve-3d;
	transform-origin: center bottom;
	animation-delay:0s;
	animation-duration:1s;
	animation-name:logo_animate1;
	animation-iteration-count:1;
	animation-fill-mode:forwards;
	animation-play-state:running;
	animation-timing-function: linear;
	cursor:pointer;
	
	@for $i from 1 through 10 {
		$color_hex:'#ff'+((10-$i)*11)+'00';
		span.logo#{$i} { 
			color:#{$color_hex};
			@if $i > 1 {
			position:absolute; top:0px; left:0px;
			}
			transform: rotateY(0deg) translateZ(#{-($i - 1)}px);
			@include reflect();
		}
	}

	&:hover { 
		animation-delay:0s;
		animation-duration:0.5s;
		animation-name:logo_animate2;
		animation-iteration-count:1;
    	animation-fill-mode:forwards;
		animation-play-state:running;
		animation-timing-function: linear;
		//animation-direction:alternate;
	}
	
	$rotate_values:((50deg,0deg),(0deg,50deg));
	@for $i from 1 through 2 {
		$rotate_detail:nth($rotate_values, $i);
		@keyframes logo_animate#{$i} {
			from {
				transform:rotateX(nth($rotate_detail, 1)) rotateY(0deg);
			}

			to {
				transform:rotateX(nth($rotate_detail, 2)) rotateY(0deg);
			}
		}
	}
}

div.gnb_box { background:linear-gradient(#ff6600 50%, #ff5500 50%); }
ul.gnb_menu { 
	width:1200px; margin:0 auto; font-size:0; list-style-type:none;
	&>li { 
		width:20%; display:inline-block; position:relative; 
		&>ol.gnb_sub_menu { width:100%; position:absolute; top:34px; left:0px; display:none; z-index:9999; }
			&:hover>ol.gnb_sub_menu { width:100%; position:absolute; top:34px; left:0px; display:block; }
				ol.gnb_sub_menu>li { background-color:#ccc; }
					ol.gnb_sub_menu>li>a { display:block; line-height:34px; font-size:16px; text-align:center; color:#000; text-decoration:none; font-family:'Arial'; }
					ol.gnb_sub_menu>li>a:hover { background-color:#aaa; color:#fff; }
	}
		&>li>a { display:block; line-height:34px; font-size:16px; text-align:center; color:#fff; text-decoration:none; font-family:'Arial'; }
		&>li>a:hover { background:linear-gradient(#ff3300 50%, #ff1100 50%); }
}

section.middle { width:1200px; margin:0 auto; perspective:1000px; }

dl.gallery_3d { 
	list-style-type:none; 
	display:block; 
	margin:80px auto;
	position:relative;
	transition:transform 500ms;
	transform:rotateY(0deg);
	transform-style: preserve-3d;
	transform-origin: center middle;
	@include object_size(240px,135px);

	&>dd {
		@include object_size(240px,135px);
		position:absolute;
		top:0px;left:0px;
		opacity:0.75;
		&>img {
			@include object_size(100%,100%);
		}

	}

	&>dt.octagon_top {
		@include object_size(580px,580px);
		position:absolute;
		top:0px;left:0px;
		background-image:url('../images/gallery/octagon.png');
		background-repeat:no-repeat;
		background-size:100% 100%;
		transform: rotateX(90deg) rotateY(0deg) translateX(-170px) translateZ(290px);
		opacity:0.95;
	}

	&>dt.octagon_bottom {
		@include object_size(580px,580px);
		position:absolute;
		top:0px;left:0px;
		background-image:url('../images/gallery/octagon.png');
		background-repeat:no-repeat;
		background-size:100% 100%;
		transform: rotateX(90deg) rotateY(0deg) translateX(-170px) translateZ(155px);
		opacity:0.95;
	}

	$translateZ:290px;
	@for $i from 1 through 8 {
		&>dd:nth-child(#{$i}) { transform: rotateY(#{($i - 1) * 45}deg) translateZ($translateZ); }
	}

	@keyframes gallery_ani {
		@for $i from 1 through 8 {
			#{(100 / 8) * $i}% {
				transform:rotateY(#{$i * 45}deg);
			}
		}
	}
}

div.letter_card { 
	@include object_size(800px,450px);
	margin:80px auto;
	position:relative;
	border:1px solid #bbb;
	transform:rotateY(0deg) scale(1);
	transform-style: preserve-3d;
	transform-origin: center middle;

	@keyframes card_back {
		0% {
			transform:rotateY(0deg) scale(1);
		}

		50% {
			transform:rotateY(-90deg) scale(2);
		}

		100% {
			transform:rotateY(-180deg) scale(1);
		}
	}

	@keyframes card_front {
		0% {
			transform:rotateY(180deg) scale(1);
		}

		50% {
			transform:rotateY(90deg) scale(2);
		}

		100% {
			transform:rotateY(0deg) scale(1);
		}
	}

	&>.front {
		@include object_size(800px,450px);
		background:url('../images/card/card_front.jpg') no-repeat;
		position:absolute;
		top:0px; left:0px;
		transform:translateZ(0px);
		box-shadow: inset 0 0 25px hsla(0,0%,0%,.08), inset 0 0 25px hsla(0,0%,0%,.08);
	}
	&>.back {
		@include object_size(800px,450px);
		background:url('../images/card/card_back.jpg') no-repeat;
		top:0px; left:0px;
		transform:translateZ(-1px) scaleX(-1);
		box-shadow: inset 0 0 25px hsla(0,0%,0%,.08), inset 0 0 25px hsla(0,0%,0%,.08);
	}
	
	& a.btn_reverse { position:absolute; top:0px; background-color:#0099ff; display:block; @include object_size(20px,20px); z-index:2; opacity:0.2; right:0px; }
	& textarea { 
		position:absolute; top:50px; right:50px;
		@include object_size(294px,345px);
		border:0px none;
		background-color:transparent;
		line-height:35px;
		overflow:hidden;
		font-family:'Nanum Brush Script';
		font-size:22px;
		color:#555;
		padding:3px;
	}
}

div.btn_cube {
	@include object_size(30px,30px);
	margin:80px auto;
	position:relative;
	transition:transform 500ms;
	transform-style:preserve-3d;
	transform-origin: center middle;
	transform:rotateX(20deg) rotateY(20deg);
	cursor:pointer;
	/*animation-delay:0s;
	animation-duration:8s;
	animation-name:cube_default;
	animation-iteration-count:infinite;
	animation-fill-mode:forwards;
	animation-play-state:running;
	animation-timing-function:linear;*/

	&>div { 
		@include object_size(30px,30px); background-color:#ff1100; position:absolute; top:0px; left:0px;
		box-shadow: inset 0 0 15px hsla(0,0%,0%,.25), inset 0 0 15px hsla(0,0%,0%,.25);
		text-align:center; line-height:30px; color:#fff; font-weight:bold; font-size:14px;
	}
	
	&>.front { transform:rotateX(0deg) rotateY(0deg) translateZ(15px); }
	&>.top { transform:rotateX(90deg) rotateY(0deg) translateZ(15px); }
	&>.back { transform:rotateX(180deg) rotateY(0deg) translateZ(15px); }
	&>.bottom { transform:rotateX(270deg) rotateY(0deg) translateZ(15px); }
	&>.left { transform:rotateX(0deg) rotateY(90deg) translateZ(15px); }
	&>.right { transform:rotateX(0deg) rotateY(270deg) translateZ(15px); }

	@keyframes cube_default {
		0% {
			transform:rotateX(0deg) rotateY(360deg);
		}

		100% {
			transform:rotateX(360deg) rotateY(0deg);
		}
	}

	@keyframes cube_go {
		0% {
			transform:rotateX(0deg) rotateY(360deg);
		}
		
		30% {
			transform:rotateX(360deg) rotateY(0deg);
		}

		60% {
			transform:rotateX(0deg) rotateY(360deg);
		}
		
		90% {
			transform:rotateX(360deg) rotateY(0deg);
		}
	}
}

div.shapes { margin: 10px; padding: 10px; border:1px solid #000; }

div.shapes:first-child { border-radius: 10px 10px 0 0; }
div.shapes + div.shapes { border-radius: 0 0 10px 10px; }


footer {}


/*@include default_link_prop();

.div_box { 
	margin-top:300px;
	color:$default-font-color;
	background-color:$default-background-color;
	border:1px solid #aaa;
	&:hover{ background-color:#ccc; }
	.text_list { padding:10px; }
	.text_list li { font-size:14px; font-family:'Dotum','Arial'; list-style-type:none; padding:5px; @include radius_box(7px); }
	.text_list li:hover { background-color:#aaa; font-weight:800; color:#fff; }
	@include font_style();
	@include radius_box(10px);
	@include default_link_prop();

	$color-collection:('red','orange','green','blue');
	$color-count:length($color-collection);

	@for $i from 1 through $color-count {
		color:nth($color-collection, $i);
	}
}


.the_end1 { @extend %end_message; }
.the_end2 { @extend %end_message; }*/