diff --git a/index.html b/index.html
index 4db0234..0f8af32 100644
--- a/index.html
+++ b/index.html
@@ -5,6 +5,6 @@
 	<title>Document</title>
 </head>
 <body>
-가나다라마바
+	
 </body>
 </html>
\ No newline at end of file
