html, body {
  height: 100%;
  -webkit-text-size-adjust: none; }

html > body {
  overflow-y: scroll; }

body {
  font-size: 12px;
  font-family: 'Dotum'; }

* {
  padding: 0px;
  margin: 0px; }

a:link {
  font-size: 12px;
  color: #000;
  text-decoration: none; }

a:hover {
  font-size: 12px;
  color: #000;
  text-decoration: underline; }

a:active {
  font-size: 12px;
  color: #000;
  text-decoration: none; }

a:visited {
  font-size: 12px;
  color: #000;
  text-decoration: none; }

input[type='checkbox'] {
  width: 15px;
  height: 15px;
  border: 0px none;
  background-image: url("../images/sprite_image/radio_check_box.png");
  background-position: 0% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  margin-right: 5px; }

input[type='checkbox']:checked {
  background-position: 33.33% 0px; }

input[type='radio'] {
  width: 15px;
  height: 15px;
  border: 0px none;
  background-image: url("../images/sprite_image/radio_check_box.png");
  background-position: 66.66% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  margin-right: 5px; }

input[type='radio']:checked {
  background-position: 100% 0px; }

input + label {
  vertical-align: middle; }

header {
  text-align: center;
  perspective: 600px; }

div.logo_box {
  font-size: 44px;
  font-weight: bold;
  font-family: 'Tahoma','MalgunGothic';
  line-height: 44px;
  text-align: center;
  position: relative;
  margin: 20px auto;
  display: inline-block;
  transition: transform 500ms;
  transform-style: preserve-3d;
  transform-origin: center bottom;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-name: logo_animate1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-timing-function: linear;
  cursor: pointer; }
  div.logo_box span.logo1 {
    color: #ff9900;
    transform: rotateY(0deg) translateZ(0px);
    -webkit-box-reflect: below -5px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.03) 0%, transparent 50%, transparent 90%); }
  div.logo_box span.logo2 {
    color: #ff8800;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotateY(0deg) translateZ(-1px);
    -webkit-box-reflect: below -5px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.03) 0%, transparent 50%, transparent 90%); }
  div.logo_box span.logo3 {
    color: #ff7700;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotateY(0deg) translateZ(-2px);
    -webkit-box-reflect: below -5px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.03) 0%, transparent 50%, transparent 90%); }
  div.logo_box span.logo4 {
    color: #ff6600;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotateY(0deg) translateZ(-3px);
    -webkit-box-reflect: below -5px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.03) 0%, transparent 50%, transparent 90%); }
  div.logo_box span.logo5 {
    color: #ff5500;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotateY(0deg) translateZ(-4px);
    -webkit-box-reflect: below -5px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.03) 0%, transparent 50%, transparent 90%); }
  div.logo_box span.logo6 {
    color: #ff4400;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotateY(0deg) translateZ(-5px);
    -webkit-box-reflect: below -5px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.03) 0%, transparent 50%, transparent 90%); }
  div.logo_box span.logo7 {
    color: #ff3300;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotateY(0deg) translateZ(-6px);
    -webkit-box-reflect: below -5px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.03) 0%, transparent 50%, transparent 90%); }
  div.logo_box span.logo8 {
    color: #ff2200;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotateY(0deg) translateZ(-7px);
    -webkit-box-reflect: below -5px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.03) 0%, transparent 50%, transparent 90%); }
  div.logo_box span.logo9 {
    color: #ff1100;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotateY(0deg) translateZ(-8px);
    -webkit-box-reflect: below -5px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.03) 0%, transparent 50%, transparent 90%); }
  div.logo_box span.logo10 {
    color: #ff000;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotateY(0deg) translateZ(-9px);
    -webkit-box-reflect: below -5px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.03) 0%, transparent 50%, transparent 90%); }
  div.logo_box:hover {
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-name: logo_animate2;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: linear; }

@keyframes logo_animate1 {
  from {
    transform: rotateX(50deg) rotateY(0deg); }
  to {
    transform: rotateX(0deg) rotateY(0deg); } }

@keyframes logo_animate2 {
  from {
    transform: rotateX(0deg) rotateY(0deg); }
  to {
    transform: rotateX(50deg) rotateY(0deg); } }

div.gnb_box {
  background: linear-gradient(#ff6600 50%, #ff5500 50%); }

ul.gnb_menu {
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
  list-style-type: none; }
  ul.gnb_menu > li {
    width: 20%;
    display: inline-block;
    position: relative; }
    ul.gnb_menu > li > ol.gnb_sub_menu {
      width: 100%;
      position: absolute;
      top: 34px;
      left: 0px;
      display: none;
      z-index: 9999; }
    ul.gnb_menu > li:hover > ol.gnb_sub_menu {
      width: 100%;
      position: absolute;
      top: 34px;
      left: 0px;
      display: block; }
    ul.gnb_menu > li ol.gnb_sub_menu > li {
      background-color: #ccc; }
    ul.gnb_menu > li ol.gnb_sub_menu > li > a {
      display: block;
      line-height: 34px;
      font-size: 16px;
      text-align: center;
      color: #000;
      text-decoration: none;
      font-family: 'Arial'; }
    ul.gnb_menu > li ol.gnb_sub_menu > li > a:hover {
      background-color: #aaa;
      color: #fff; }
  ul.gnb_menu > li > a {
    display: block;
    line-height: 34px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-family: 'Arial'; }
  ul.gnb_menu > li > a:hover {
    background: linear-gradient(#ff3300 50%, #ff1100 50%); }

section.middle {
  width: 1200px;
  margin: 0 auto;
  perspective: 1000px; }

dl.gallery_3d {
  list-style-type: none;
  display: block;
  margin: 80px auto;
  position: relative;
  transition: transform 500ms;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transform-origin: center middle;
  width: 240px;
  height: 135px; }
  dl.gallery_3d > dd {
    width: 240px;
    height: 135px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.75; }
    dl.gallery_3d > dd > img {
      width: 100%;
      height: 100%; }
  dl.gallery_3d > dt.octagon_top {
    width: 580px;
    height: 580px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("../images/gallery/octagon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: rotateX(90deg) rotateY(0deg) translateX(-170px) translateZ(290px);
    opacity: 0.95; }
  dl.gallery_3d > dt.octagon_bottom {
    width: 580px;
    height: 580px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("../images/gallery/octagon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: rotateX(90deg) rotateY(0deg) translateX(-170px) translateZ(155px);
    opacity: 0.95; }
  dl.gallery_3d > dd:nth-child(1) {
    transform: rotateY(0deg) translateZ(290px); }
  dl.gallery_3d > dd:nth-child(2) {
    transform: rotateY(45deg) translateZ(290px); }
  dl.gallery_3d > dd:nth-child(3) {
    transform: rotateY(90deg) translateZ(290px); }
  dl.gallery_3d > dd:nth-child(4) {
    transform: rotateY(135deg) translateZ(290px); }
  dl.gallery_3d > dd:nth-child(5) {
    transform: rotateY(180deg) translateZ(290px); }
  dl.gallery_3d > dd:nth-child(6) {
    transform: rotateY(225deg) translateZ(290px); }
  dl.gallery_3d > dd:nth-child(7) {
    transform: rotateY(270deg) translateZ(290px); }
  dl.gallery_3d > dd:nth-child(8) {
    transform: rotateY(315deg) translateZ(290px); }

@keyframes gallery_ani {
  12.5% {
    transform: rotateY(45deg); }
  25% {
    transform: rotateY(90deg); }
  37.5% {
    transform: rotateY(135deg); }
  50% {
    transform: rotateY(180deg); }
  62.5% {
    transform: rotateY(225deg); }
  75% {
    transform: rotateY(270deg); }
  87.5% {
    transform: rotateY(315deg); }
  100% {
    transform: rotateY(360deg); } }

div.letter_card {
  width: 800px;
  height: 450px;
  margin: 80px auto;
  position: relative;
  border: 1px solid #bbb;
  transform: rotateY(0deg) scale(1);
  transform-style: preserve-3d;
  transform-origin: center middle; }

@keyframes card_back {
  0% {
    transform: rotateY(0deg) scale(1); }
  50% {
    transform: rotateY(-90deg) scale(2); }
  100% {
    transform: rotateY(-180deg) scale(1); } }

@keyframes card_front {
  0% {
    transform: rotateY(180deg) scale(1); }
  50% {
    transform: rotateY(90deg) scale(2); }
  100% {
    transform: rotateY(0deg) scale(1); } }
  div.letter_card > .front {
    width: 800px;
    height: 450px;
    background: url("../images/card/card_front.jpg") no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateZ(0px);
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.08), inset 0 0 25px rgba(0, 0, 0, 0.08); }
  div.letter_card > .back {
    width: 800px;
    height: 450px;
    background: url("../images/card/card_back.jpg") no-repeat;
    top: 0px;
    left: 0px;
    transform: translateZ(-1px) scaleX(-1);
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.08), inset 0 0 25px rgba(0, 0, 0, 0.08); }
  div.letter_card a.btn_reverse {
    position: absolute;
    top: 0px;
    background-color: #0099ff;
    display: block;
    width: 20px;
    height: 20px;
    z-index: 2;
    opacity: 0.2;
    right: 0px; }
  div.letter_card textarea {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 294px;
    height: 345px;
    border: 0px none;
    background-color: transparent;
    line-height: 35px;
    overflow: hidden;
    font-family: 'Nanum Brush Script';
    font-size: 22px;
    color: #555;
    padding: 3px; }

div.btn_cube {
  width: 30px;
  height: 30px;
  margin: 80px auto;
  position: relative;
  transition: transform 500ms;
  transform-style: preserve-3d;
  transform-origin: center middle;
  transform: rotateX(20deg) rotateY(20deg);
  cursor: pointer;
  /*animation-delay:0s;
	animation-duration:8s;
	animation-name:cube_default;
	animation-iteration-count:infinite;
	animation-fill-mode:forwards;
	animation-play-state:running;
	animation-timing-function:linear;*/ }
  div.btn_cube > div {
    width: 30px;
    height: 30px;
    background-color: #ff1100;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.25), inset 0 0 15px rgba(0, 0, 0, 0.25);
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 14px; }
  div.btn_cube > .front {
    transform: rotateX(0deg) rotateY(0deg) translateZ(15px); }
  div.btn_cube > .top {
    transform: rotateX(90deg) rotateY(0deg) translateZ(15px); }
  div.btn_cube > .back {
    transform: rotateX(180deg) rotateY(0deg) translateZ(15px); }
  div.btn_cube > .bottom {
    transform: rotateX(270deg) rotateY(0deg) translateZ(15px); }
  div.btn_cube > .left {
    transform: rotateX(0deg) rotateY(90deg) translateZ(15px); }
  div.btn_cube > .right {
    transform: rotateX(0deg) rotateY(270deg) translateZ(15px); }

@keyframes cube_default {
  0% {
    transform: rotateX(0deg) rotateY(360deg); }
  100% {
    transform: rotateX(360deg) rotateY(0deg); } }

@keyframes cube_go {
  0% {
    transform: rotateX(0deg) rotateY(360deg); }
  30% {
    transform: rotateX(360deg) rotateY(0deg); }
  60% {
    transform: rotateX(0deg) rotateY(360deg); }
  90% {
    transform: rotateX(360deg) rotateY(0deg); } }

div.shapes {
  margin: 10px;
  padding: 10px;
  border: 1px solid #000; }

div.shapes:first-child {
  border-radius: 10px 10px 0 0; }

div.shapes + div.shapes {
  border-radius: 0 0 10px 10px; }

/*@include default_link_prop();

.div_box { 
	margin-top:300px;
	color:$default-font-color;
	background-color:$default-background-color;
	border:1px solid #aaa;
	&:hover{ background-color:#ccc; }
	.text_list { padding:10px; }
	.text_list li { font-size:14px; font-family:'Dotum','Arial'; list-style-type:none; padding:5px; @include radius_box(7px); }
	.text_list li:hover { background-color:#aaa; font-weight:800; color:#fff; }
	@include font_style();
	@include radius_box(10px);
	@include default_link_prop();

	$color-collection:('red','orange','green','blue');
	$color-count:length($color-collection);

	@for $i from 1 through $color-count {
		color:nth($color-collection, $i);
	}
}


.the_end1 { @extend %end_message; }
.the_end2 { @extend %end_message; }*/
